<ion-view hide-back-button="true">
    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/ionic.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">Join a group</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image" hidden="true" ng-click="logOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>
            

  <ion-content class="has-header">

        <ion-list class="list-long">
          
            <h3 class="bar-header-h3" ng-click="expand.join = !expand.join">
                <div>
                    <i class="icon icon-button ion-minus-round" ng-if="expand.join"></i>
                    <i class="icon icon-button ion-plus-round" ng-if="!expand.join" ></i>
                    Join group ( {{ allGroups.length }} )
                </div>
            </h3>

            <ion-item ng-if="expand.join && allGroups.length === 0" class="item">      
                <div class="is-empty">
                    No groups available now. 
                </div>
            </ion-item>

            <ion-item class="item list-long" style="padding-bottom:10px">

                <ion-radio ng-if="expand.join" ng-repeat="group in allGroups track by $index" class="item-radio item-list item-icon-right" ng-click="updateSelectedGroup(group)">
                    <label class="label">
                        {{ group.name }}
                    </label>
                </ion-radio>
            </ion-item>

            <ion-item class="item list-short item-padding-bottom-30" ng-if="selectedGroup != null && expand.join">
                <button class="button-positive button" ng-click="doJoinGroup(selectedGroup)">
                    <i class="icon ion-plus"></i>
                    Join group
                </button>
            </ion-item>

            <h3 class="bar-header-h3" ng-click="expand.create = !expand.create">
                <div>
                    <i class="icon icon-button ion-minus-round" ng-if="expand.create"></i>
                    <i class="icon icon-button ion-plus-round" ng-if="!expand.create" ></i>
                    Create new group
                </div>
            </h3>

            <ion-list ng-if="expand.create" class="list-long">   

                <label class="label">Group's name <span class="input-mandatory-asterix"> *</span>
                        <input class=" item input-label" type="text" ng-disabled="loginActive" ng-model="groupInfo.group_name"/>
                </label>

                <label class="label">Short description
                    <input class=" item input-label" type="text" ng-disabled="loginActive" ng-model="groupInfo.group_description"/>
                </label>

                <label class="item" ng-if="groupInfo.group_name != null">
                    <button class="button-positive button" ng-click="doCreateGroup()">
                        <i class="icon ion-arrow-return-left"></i>
                        Create group
                    </button>
                </label>
            </ion-list>

            <ion-item class="item list-short item-padding-bottom-30">
                <button class="button-close button" ng-click="doLogOut()">
                    <i class="icon ion-arrow-return-left"></i>
                    Log Out
                </button>
            </ion-item>
            

        </ion-list>
    </ion-content>
</ion-view>