<ion-view hide-back-button="true">
    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/ionic.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">LOG IN</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image" hidden="true" ng-click="logOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>
            

  <ion-content class="has-header">

        <ion-list class="item-list">
            <div class="list-short">

                <ion-item>
                    <label class="label">Email<input class=" item input-label" type="text" ng-disabled="loginActive" ng-model="loginInfo.email"/></label>
                </ion-item>

                <ion-item>
                    <label class="label">Password<input class="input-label" type="password" ng-disabled="loginActive"  ng-model="loginInfo.password"/></label>
                </ion-item>

             
                <u class="item-interact" ng-click="goToNewUser()">Create new user</u>
                

                <label class="item">
                    <button class="button button-block button-positive button-noleft button-positive-list" id="loginButton" ng-if="loginInfo.email && loginInfo.password" ng-click="doLogin()">
                        <i class="icon ion-log-in"></i>
                        LOG IN
                    </button>
                </label>
                
            </div>  
        </ion-list>
    </ion-content>
</ion-view>