<ion-view id="page3">
    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/ionic.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">UBITASKER Manage group</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image"  ng-click="doLogOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>


    <ion-content class="has-header-and-footer has-tabs">
     

            <h3 class="bar-header-h3" ng-click="expand.members = !expand.members">
                    <div>
                       
                        <i class="icon icon-button ion-minus-round" ng-if="expand.members"></i>
                        <i class="icon icon-button ion-plus-round" ng-if="!expand.members" ></i>
                        Group: {{  ownGroup.group.name }} ( Members: {{ ownGroup.groupMembers.length }} )
                    </div>
            </h3>
            <ion-list class="list-item" ng-if="expand.members">
                <ion-item  ng-repeat="member in ownGroup.groupMembers track by $index" class="item-avatar item-list item-icon-right" id="group-list-item7">
                    <ion-item class="item">
                        <div class="display-line">
                            <div class="inline-1">
                                {{ member.name }}
                            </div>
                            <div class="inline-2">
                                <i class="icon ion-information-circled" ng-click="showGroupMemberData(member)"></i>
                            </div>
                        </div>
                    </ion-item>
                </ion-item>

                <ion-item class="item list-short item-padding-bottom-30">
                    <button class="button-close button" ng-click="leaveGroup()">
                        <i class="icon ion-heart-broken"></i>
                        Leave this group
                    </button>
                </ion-item>
            </ion-item>

            </ion-list>


            <h3 class="bar-header-h3" ng-click="expand.timeline = !expand.timeline">
                <div>
                    <i class="icon icon-button ion-minus-round" ng-if="expand.timeline"></i>
                    <i class="icon icon-button ion-plus-round" ng-if="!expand.timeline" ></i>
                    Timeline
                </div>
            </h3>

            <ion-list ng-if="expand.timeline" class="list-long">

                <div class="container">

                    <ul class="timeline && timelineItems.length >0" ng-repeat="day in pushedDates track by $index" >
                        
                        <!-- Here starts new panel -->
                        <li class="timeline-inverted" >
                            <div class="timeline-badge warning">{{ displayDate(day[0].task_added_timestamp) }}</div>
                            <div class="timeline-panel" >

                                <div class="timeline-item"ng-repeat="item in day track by $index">
                                    <div class="display-line">
                                        <div class="inline-1">

                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">{{ item.task_type }} </h4>
                                                <p><small class="text-muted"><i class="button-icon ion-clock"></i>{{ displayTime(item.task_added_timestamp) }}</small></p>
                                            </div>

                                            <div class="timeline-body">
                                                <p>{{ displayTimelineBody(item) }}</p>
                                            </div>

                                        </div>

                                        <div class="inline-2">
                                            <button class="button button-positive button-small" ng-click="addUpvote(item)" ><i class="button-icon ion-thumbsup" ></i>{{ item.likes }}</button> 
                                        </div>
                                    </div>
                                </div>
                                        
                            </div>
                        </li>

                       
                    </ul>
                </div>

            </ion-list>
    </ion-content>
  </ion-view>