<ion-view id="page3">
    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/ionic.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">Manage group</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image"  ng-click="logOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>


    <ion-content class="has-header-and-footer has-tabs">
      <ion-list class="list">

        <h3 class="bar-header-h3" ng-click="expand.members = !expand.members">
                <div>
                    Your group name ( {{ groupMembers.length }} )
                    <i class="icon icon-button ion-minus-round" ng-if="expand.members"></i>
                    <i class="icon icon-button ion-plus-round" ng-if="!expand.members" ></i>
                </div>
        </h3>

        <ion-item ng-if="expand.members" ng-repeat="member in groupMembers track by $index" class="item-avatar item-list item-icon-right" id="group-list-item7">
            <ion-item class="item">
                <div class="display-line">
                    <div class="inline-1">
                        {{ member.Name }}
                    </div>
                    <div class="inline-2">
                        <i class="icon ion-information-circled" ng-click="showGroupMemberData(member)"></i>
                    </div>
                </div>
            </ion-item>
        </ion-item>

        <h3 class="bar-header-h3">
                Timeline
        </h3>
        <ion-list class="list-long">
            <ion-item>
                Here is the timeline
            </ion-item>
        </ion-list>
        
       
      </ion-list>
    </ion-content>
  </ion-view>