<ion-view id="page4">


    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/ionic.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">Statistics</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image"  ng-click="logOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>

    <ion-content class="has-header-and-footer has-tabs">
        
        <ion-list class="list">
  
            <h3 class="bar-header-h3" ng-click="expand.owngroup = !expand.owngroup">
                    <div>
                        Your group name ( {{ groupMembers.length }} )
                        <i class="icon icon-button ion-minus-round" ng-if="expand.owngroup"></i>
                        <i class="icon icon-button ion-plus-round" ng-if="!expand.owngroup" ></i>
                    </div>
            </h3>

            <ion-item ng-if="expand.owngroup" class="item">
                plotted image here
            </ion-item>

            <ion-item ng-if="expand.owngroup" class="item">
                show more details here.
            </ion-item>
        </ion-list>

        <ion-list class="list">

            <ion-item class="item-list">
                <ion-item ng-repeat="group in groups track by group.Id">
                    <ion-item class="item">
                        <h3 class="bar-header-h3" ng-click="group.expand = !group.expand">
                                <div>
                                    {{ group.GroupName }} ( {{ group.Members.length }} )
                                    <i class="icon icon-button ion-minus-round" ng-if="group.expand"></i>
                                    <i class="icon icon-button ion-plus-round" ng-if="!group.expand" ></i>
                                </div>
                        </h3>
                
                        <ion-item ng-if="group.expand" class="item">
                            plotted image here
                        </ion-item>

                    </ion-item>
                </ion-item>
            </ion-item>

  
            <h3 class="bar-header-h3" ng-click="expand.members = !expand.members">
                    <div>
                        Other group name ( {{ groupMembers.length }} )
                        <i class="icon icon-button ion-minus-round" ng-if="expand.members"></i>
                        <i class="icon icon-button ion-plus-round" ng-if="!expand.members" ></i>
                    </div>
            </h3>
    
            <ion-item class="item">
                plotted image here
            </ion-item>
        </ion-list>

    </ion-content>
  </ion-view>