<ion-view id="page4">


    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/UBITASKERLOGO1.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">Logged in as: {{ profileSettings.name }}</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image" ng-click="doLogOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>

    <ion-content class="has-header-and-footer has-tabs">
        
        <ion-list class="list">
            
            <h3 class="bar-header-h3">
                Group: {{  ownGroup.group.name }} ( Members: {{ ownGroup.groupMembers.length }} )
            </h3>

            <ion-item class="item">
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </ion-item>
        
            <h3 ng-if="allowedToSeeOthers" class="bar-header-h3" > Total workhours by groups</h3>
        
            <ion-item  ng-if="allowedToSeeOthers"  class="item">
                <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </ion-item>
        </ion-list>

    </ion-content>
  </ion-view>