
// Theme colors
$vesitietofi-lightblue: #7bb7ff !default;
$vesitietofi-blue: #3695ff !default;
$vesitietofi-darkblue: #003b63 !default;
$vesitietofi-darkgrey: #6a6a6a !default;
$vesitietofi-offline-red: #FF0000 !default;
$vesitietofi-logo-background: green !default; // not used
$vesitietofi-white: #FFFFFF !default;

// Buttons
$vesitietofi-button-border:#1d99d6 !default;
$vesitietofi-button:#427fed !default;
$vesitietofi-button-activated:#0b4fc3 !default;
$vesitietofi-button-red: #CA2121 !default;
$vesitietofi-button-action: #8C8C8C !default;

// Inputs
$vesitietofi-input-background: ghostwhite !default;
$vesitietofi-input-disabled-background: #B3B3B3 !default;
$vesitietofi-input-textcolor-grey: #6a6a6a !default;
$vesitietofi-input-textcolor-blue: #3695ff !default;
$vesitietofi-input-textcolor-disabled: black !default;

//Work colorcodes
$vesitietofi-workOk: #3695ff !default;
$vesitietofi-workSemiOk: #FFFF00 !default;
$vesitietofi-workNotOk: #FF0000 !default;

// Font size
$fontSize: 20px !default;





$tapio-dark-green: #2D5233 !default;

$tapio-darker-green: #1F3823 !default;

$tapio-light-green: #78BE20 !default;

