<ion-view id="page2">
    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/ionic.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">Add a Task</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image"  ng-click="doLogOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>

    <ion-content class="has-header-and-footer has-tabs">

        <ion-list class="list">

            <h3 class="bar-header-h3">
                Task duration
            </h3>

            <ion-item class="item list-long" >    

                <label class="label"> 
                    <div class="item range">
                        <i class="label-rating-bad" >0H</i>
                        <input type="range" min="0", max="4" step="0.5"  ng-model="Task.duration"/>
                        <i class="label-rating-good" >4H</i>    
                    </div>

                    <div class="item range"></div>
                        <label class="label-rating-good"> 
                            {{ Task.duration }}H
                        </label>
                    </div>
                </label>

            </ion-item>

            <h3 class="bar-header-h3">
                Task type
            </h3>       

            <ion-item class="item list-long">

                <ion-radio class="item-radio" ng-repeat="category in Categories track by $index" ng-value="Categories.category" ng-click="updateTask(category)">
                    {{ category }}
                </ion-radio>

            </ion-item>

            <ion-item class="item list-long">

                <button ng-if="Task.duration && Task.category" class="button-positive button" ng-click="submit()">
                    Submit
                </button>

           </ion-item>
        </ion-list>
    </ion-content>
  </ion-view>