<ion-view id="page3">
    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/ionic.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">Manage group</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image"  ng-click="logOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>


    <ion-content padding="true" class="has-header">
      <ion-list id="group-list6">
        <ion-item class="item-avatar item-icon-right" id="group-list-item7">
          <h2>Member 1</h2>
          <i class="icon ion-android-more-vertical"></i>
          <ion-option-button class="button-positive">gg</ion-option-button>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" id="group-list-item9">
          <h2>Member 2</h2>
          <i class="icon ion-android-more-vertical"></i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" id="group-list-item8">
          <h2>Member 3</h2>
          <i class="icon ion-android-more-vertical"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>