<ion-view id="page3">
    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/ionic.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">Manage group</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image"  ng-click="logOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>


    <ion-content class="has-header-and-footer has-tabs">
      <ion-list class="list-long">


        <ion-item ng-repeat="member in groupMembers track by $index" class="item-avatar item-icon-right" id="group-list-item7">
            
                <div class="inline-1">
                    {{ member.Name }}
                </div>
                <div class="inline-2">
                    <i class="icon ion-information-circeled" ng-click="showGroupMemberData(member)"></i>
                </div>
        
        </ion-item>
       
      </ion-list>
    </ion-content>
  </ion-view>