<ion-view id="page4">


    <ion-nav-title>
        <div class="bar-header-divider">
            <div class="bar-header-divider-left">
                <img class="bar-header-logo" src="img/ionic.png" id="logo"></img>
            </div>
            
            <div class="bar-header-divider-center">
                <h4 class="bar-header-h4">Statistics</h4>
            </div>

            <div class="bar-header-divider-right">
                <img class="ion-log-out button-image"  ng-click="logOut()" src="img/Logout.png"></img>
            </div>
        </div>
    </ion-nav-title>

    <ion-content padding="true" class="has-header">
      <div id="statistics-container3">
        <ion-list id="statistics-list8">
          <ion-item class="item-divider" id="statistics-list-item-divider3"> Your group</ion-item>
        </ion-list>
      </div>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        <button id="addATask-button1" class="button button-positive button-block" ng-click="print()">Submit</button>
      </div>
      <ion-list id="statistics-list9">
        <ion-item class="item-divider" id="statistics-list-item-divider6"> Other group 1</ion-item>
      </ion-list>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </ion-content>
  </ion-view>