@import "variables";


.alert-normal {
    
    .popup {
        width: 80% !important;
        border: 1px solid $vesitietofi-blue !important;
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        -moz-top-left-radius: 5px !important;
        -moz-top-right-radius: 5px !important;
        -moz-bottom-left-radius: 5px !important;
        -moz-bottom-right-radius: 5px !important;
        -webkit-top-left-radius: 5px !important;
        -webkit-top-right-radius: 5px !important;
        -webkit-bottom-left-radius: 5px !important;
        -webkit-bottom-right-radius: 5px !important;
        -webkit-background-clip: padding-box !important;
        -moz-background-clip: padding-box !important;
        background-clip: padding-box !important;
    }

    .popup-title {
        font-size: 1.25*$fontSize !important;
        font-weight: bold !important;
    }

    .popup-sub-title {
        font-size: $fontSize;
        font-style: italic !important;
    }
    
    .popup-body {
        font-size: 0.6em;
        color: black;
        text-align: center !important;
    }
    
    button {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        -moz-top-left-radius: 5px !important;
        -moz-top-right-radius: 5px !important;
        -moz-bottom-left-radius: 5px !important;
        -moz-bottom-right-radius: 5px !important;
        -webkit-top-left-radius: 5px !important;
        -webkit-top-right-radius: 5px !important;
        -webkit-bottom-left-radius: 5px !important;
        -webkit-bottom-right-radius: 5px !important;
        -webkit-background-clip: padding-box !important;
        -moz-background-clip: padding-box !important;
        background-clip: padding-box !important;
        font-size: 0.7em !important;
        font-weight: bold !important;
        
    }
    
    .button.button-positive {
        //font-weight: bold !important;
        //font-size: 0.8em !important;
        background-color: $vesitietofi-button-background !important;
        border-color: $vesitietofi-button-border !important;
    }
    
    .button-positive {
        //font-weight: bold !important;
        //font-size: 0.8em !important;
        background-color: $vesitietofi-button-background !important;
        border-color : $vesitietofi-button-border !important;
    }
    
    .button-positive.activated {
        //font-weight: bold !important;
        //font-size: 0.8em !important;
        background-color: $vesitietofi-darkblue !important;
        border-color: $vesitietofi-darkblue !important;
    }

    .button.button-negative {
        color: white;
        //font-weight: bold !important;
        //font-size: 0.8em !important;
        background-color: $vesitietofi-button-red !important;
        border-color: red !important;
    }
    
    .button-negative {
        color: white;
        //font-weight: bold !important;
        //font-size: 0.8em !important;
        background-color: red !important;
        border-color: red !important;
    }
    
    .button-negative.activated {
        //font-weight: bold !important;
        //font-size: 0.8em !important;
        background-color: grey !important;
        border-color: grey !important;
    }
}

.alert-info {
    
    .popup {
        width: 80% !important;
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        -moz-top-left-radius: 5px !important;
        -moz-top-right-radius: 5px !important;
        -moz-bottom-left-radius: 5px !important;
        -moz-bottom-right-radius: 5px !important;
        -webkit-top-left-radius: 5px !important;
        -webkit-top-right-radius: 5px !important;
        -webkit-bottom-left-radius: 5px !important;
        -webkit-bottom-right-radius: 5px !important;
        -webkit-background-clip: padding-box !important;
        -moz-background-clip: padding-box !important;
        background-clip: padding-box !important;
    }
    
    .popup-body {
        font-size: 0.8em !important;
        color: black;
    }

    .popup-title {
        font-size: 1em !important;
    }
    
    button {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        -moz-top-left-radius: 5px !important;
        -moz-top-right-radius: 5px !important;
        -moz-bottom-left-radius: 5px !important;
        -moz-bottom-right-radius: 5px !important;
        -webkit-top-left-radius: 5px !important;
        -webkit-top-right-radius: 5px !important;
        -webkit-bottom-left-radius: 5px !important;
        -webkit-bottom-right-radius: 5px !important;
        -webkit-background-clip: padding-box !important;
        -moz-background-clip: padding-box !important;
        background-clip: padding-box !important;
    }
    
    .button.button-positive {
        font-weight: bold !important;
        font-size: 0.8em !important;
        background-color: $vesitietofi-button-background!important;
        border-color: $vesitietofi-button-border !important;
    }
    
    .button-positive {
        font-weight: bold !important;
        font-size: 0.8em !important;
        background-color: $vesitietofi-button-background!important;
        border-color: $vesitietofi-button-border !important;
    }
    
    .button-positive.activated {
        font-weight: bold !important;
        font-size: 0.8em !important;
        background-color: $vesitietofi-button-activated !important;
        border-color: $vesitietofi-button-activated !important;
    }
}

ion-modal-view ion-content {
    overflow-x: initial;
    overflow-y: initial;
    -webkit-overflow-scrolling: touch;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $vesitietofi-blue;
    position: relative;
    padding-bottom: 15px;
}

.ionic_datepicker_popup {
    width: 100%;
    height: 100%;
    margin: auto;    
}

.ionic_datepicker_popup .popup {
    width: 100%;
    height: 100%;
}

.ionic_datepicker_popup .popup .popup-body{
    height: 100%;
    overflow: visible;
}

.ionic_datepicker_popup .popup .popup-body .date_selection .row{
    margin-left: 0;
    margin-right: 0;
}

.ionic_datepicker_popup .today {
    border: 1px solid red !important;
}

.ionic_datepicker_popup .popup .popup-body .date_selection{
    height: 90%;
}

.ionic_datepicker_popup .popup .popup-body .date_selection .calendar_grid{
    height: 90%;
}

.ionic_datepicker_popup .popup .popup-body .date_selection .calendar_grid .row{
    height: 13%;
    //border: 1px solid red;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

.ionic_datepicker_popup .popup .popup-body .date_selection .calendar_grid .row .col:not(.date_col) {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ionic_datepicker_popup .popup .popup-body .date_selection .calendar_grid div:not(.row) {
    height: 100%;
    //border: 1px solid blue;
    margin-top: auto;
    margin-bottom: auto;
}

.ionic_datepicker_popup .selected_date {
    background-color: $vesitietofi-darkblue !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ionic_datepicker_popup .date_cell {
    align-items: center;
    display: flex;
    justify-content: center;
    //margin-top: auto;
    //margin-bottom: auto;
}

.ionic_datepicker_popup .popup-body .selected_date_full {
    background-color: $vesitietofi-darkblue !important;
}

.ionic_datepicker_popup .popup-buttons .button_set{
    background-color: $vesitietofi-darkblue;
}

.ionic_datepicker_popup .popup-buttons .button_today{
    background-color: #387ef5;
}

.ionic_datepicker_popup .popup-buttons .button_close{
    background-color: red;
}

.ionic_datepicker_popup .popup-buttons .button{
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-top-left-radius: 5px;
    -moz-top-right-radius: 5px;
    -moz-bottom-left-radius: 5px;
    -moz-bottom-right-radius: 5px;
    -webkit-top-left-radius: 5px;
    -webkit-top-right-radius: 5px;
    -webkit-bottom-left-radius: 5px;
    -webkit-bottom-right-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}