@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\000036}}
.alert-normal .popup {
  width: 80% !important;
  border: 1px solid #a1511c !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  -moz-top-left-radius: 5px !important;
  -moz-top-right-radius: 5px !important;
  -moz-bottom-left-radius: 5px !important;
  -moz-bottom-right-radius: 5px !important;
  -webkit-top-left-radius: 5px !important;
  -webkit-top-right-radius: 5px !important;
  -webkit-bottom-left-radius: 5px !important;
  -webkit-bottom-right-radius: 5px !important;
  background-clip: padding-box !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\0000326}}
.alert-normal .popup-title {
  font-size: 25px !important;
  font-weight: bold !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\0000331}}
.alert-normal .popup-sub-title {
  font-size: 20px;
  font-style: italic !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\0000336}}
.alert-normal .popup-body {
  font-size: 0.6em;
  color: black;
  text-align: center !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\0000342}}
.alert-normal button {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  -moz-top-left-radius: 5px !important;
  -moz-top-right-radius: 5px !important;
  -moz-bottom-left-radius: 5px !important;
  -moz-bottom-right-radius: 5px !important;
  -webkit-top-left-radius: 5px !important;
  -webkit-top-right-radius: 5px !important;
  -webkit-bottom-left-radius: 5px !important;
  -webkit-bottom-right-radius: 5px !important;
  background-clip: padding-box !important;
  font-size: 0.7em !important;
  font-weight: bold !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\0000363}}
.alert-normal .button.button-positive {
  background-color: #a1511c !important;
  border-color: #a1511c !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\0000370}}
.alert-normal .button-positive {
  background-color: #a1511c !important;
  border-color: #a1511c !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\0000377}}
.alert-normal .button-positive.activated {
  background-color: #a1511c !important;
  border-color: #a1511c !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\0000384}}
.alert-normal .button.button-negative {
  color: white;
  background-color: #CA2121 !important;
  border-color: red !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\0000392}}
.alert-normal .button-negative {
  color: white;
  background-color: red !important;
  border-color: red !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003100}}
.alert-normal .button-negative.activated {
  background-color: grey !important;
  border-color: grey !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003110}}
.alert-info .popup {
  width: 80% !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  -moz-top-left-radius: 5px !important;
  -moz-top-right-radius: 5px !important;
  -moz-bottom-left-radius: 5px !important;
  -moz-bottom-right-radius: 5px !important;
  -webkit-top-left-radius: 5px !important;
  -webkit-top-right-radius: 5px !important;
  -webkit-bottom-left-radius: 5px !important;
  -webkit-bottom-right-radius: 5px !important;
  background-clip: padding-box !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003129}}
.alert-info .popup-body {
  font-size: 0.8em !important;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003134}}
.alert-info .popup-title {
  font-size: 1em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003138}}
.alert-info button {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  -moz-top-left-radius: 5px !important;
  -moz-top-right-radius: 5px !important;
  -moz-bottom-left-radius: 5px !important;
  -moz-bottom-right-radius: 5px !important;
  -webkit-top-left-radius: 5px !important;
  -webkit-top-right-radius: 5px !important;
  -webkit-bottom-left-radius: 5px !important;
  -webkit-bottom-right-radius: 5px !important;
  background-clip: padding-box !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003156}}
.alert-info .button.button-positive {
  font-weight: bold !important;
  font-size: 0.8em !important;
  background-color: #a1511c !important;
  border-color: #a1511c !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003163}}
.alert-info .button-positive {
  font-weight: bold !important;
  font-size: 0.8em !important;
  background-color: #a1511c !important;
  border-color: #a1511c !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003170}}
.alert-info .button-positive.activated {
  font-weight: bold !important;
  font-size: 0.8em !important;
  background-color: #a1511c !important;
  border-color: #a1511c !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003178}}
ion-modal-view ion-content {
  overflow-x: initial;
  overflow-y: initial;
  -webkit-overflow-scrolling: touch;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #a1511c;
  position: relative;
  padding-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003191}}
.ionic_datepicker_popup {
  width: 100%;
  height: 100%;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003197}}
.ionic_datepicker_popup .popup {
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003202}}
.ionic_datepicker_popup .popup .popup-body {
  height: 100%;
  overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003207}}
.ionic_datepicker_popup .popup .popup-body .date_selection .row {
  margin-left: 0;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003212}}
.ionic_datepicker_popup .today {
  border: 1px solid red !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003216}}
.ionic_datepicker_popup .popup .popup-body .date_selection {
  height: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003220}}
.ionic_datepicker_popup .popup .popup-body .date_selection .calendar_grid {
  height: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003224}}
.ionic_datepicker_popup .popup .popup-body .date_selection .calendar_grid .row {
  height: 13%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003232}}
.ionic_datepicker_popup .popup .popup-body .date_selection .calendar_grid .row .col:not(.date_col) {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003238}}
.ionic_datepicker_popup .popup .popup-body .date_selection .calendar_grid div:not(.row) {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003245}}
.ionic_datepicker_popup .selected_date {
  background-color: #a1511c !important;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003252}}
.ionic_datepicker_popup .date_cell {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003260}}
.ionic_datepicker_popup .popup-body .selected_date_full {
  background-color: #a1511c !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003264}}
.ionic_datepicker_popup .popup-buttons .button_set {
  background-color: #a1511c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003268}}
.ionic_datepicker_popup .popup-buttons .button_today {
  background-color: #387ef5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003272}}
.ionic_datepicker_popup .popup-buttons .button_close {
  background-color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yyyyy\/TaskManager\/app\/css\/popups\.scss}line{font-family:\00003276}}
.ionic_datepicker_popup .popup-buttons .button {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-top-left-radius: 5px;
  -moz-top-right-radius: 5px;
  -moz-bottom-left-radius: 5px;
  -moz-bottom-right-radius: 5px;
  -webkit-top-left-radius: 5px;
  -webkit-top-right-radius: 5px;
  -webkit-bottom-left-radius: 5px;
  -webkit-bottom-right-radius: 5px;
  background-clip: padding-box;
}
