
// Theme colors
$ApplicationTheme-lightPrimary:  #63B9BE !default;
$ApplicationTheme-lightSecondary: #f0ad4e !default;
$ApplicationTheme-primary:  #008A92 !default;
$ApplicationTheme-secondary:  #ffab19 !default;
$ApplicationTheme-darkPrimary: #004a4e !default;
$ApplicationTheme-darkSecondary: #e09718 !default;

// common colors
$ApplicationTheme-darkgrey: #6a6a6a !default;
$ApplicationTheme-offline-red: #FF0000 !default;
$ApplicationTheme-logo-background: green !default; // not used
$ApplicationTheme-white: whitesmoke !default;
$ApplicationTheme-black: black !default;

// Buttons
$ApplicationTheme-button-border:#008A92 !default;
$ApplicationTheme-button-background: #ffab19 !default;
$ApplicationTheme-button-textcolor: whitesmoke !default;
$ApplicationTheme-button-activated:#008A92 !default;
$ApplicationTheme-button-red: #CA2121 !default;
$ApplicationTheme-button-action: #8C8C8C !default;

// Inputs
$ApplicationTheme-input-background: #f4a460 !default;
$ApplicationTheme-input-disabled-background: #B3B3B3 !default;
$ApplicationTheme-input-textcolor-grey: #6a6a6a !default;
$ApplicationTheme-input-textcolor-blue: #008A92 !default;
$ApplicationTheme-input-textcolor-disabled: black !default;

//Work colorcodes
$ApplicationTheme-workOk: #3695ff !default;
$ApplicationTheme-workSemiOk: #FFFF00 !default;
$ApplicationTheme-workNotOk: #FF0000 !default;

// Font size
$fontSize: 20px !default;





$tapio-dark-green: #2D5233 !default;

$tapio-darker-green: #1F3823 !default;

$tapio-light-green: #78BE20 !default;

